@using Library.Models.ViewModels
@model  List<DashbordLoanViewModel>
<h2>مدیریت امانت ها</h2>
<div class="row">
    <div class="col-md-3"></div>
    <table class="table table-striped col-md-6" style="text-align:center">
        <thead>
            <tr>
                <th>نام کاربر</th>
                <th>نام کتاب</th>
                <th>تاریخ دریافت</th>
                <th>مهلت برگشت</th>
                <th>تاریخ برگشت</th>
                <th>جریمه</th>
                @* <th>ویرایش</th> *@
                @* <th>حذف</th> *@
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.BookName</td>
                    <td>@item.LoanDate</td>
                    <td>@item.DueTime</td>
                    @if (item.ReturnDate == null)
                    {
                        <td>برگشت داده نشده</td>
                    }
                    else
                    {
                        <td>@item.ReturnDate</td>
                    }
                    @if (item.FineAmount == null)
                    {
                        <td>0</td>
                    }
                    else
                    {
                        <td>@item.FineAmount</td>
                    }
                    @* <td> *@
                    @*     <a asp-action="UpdateBook" asp-controller="Book" *@
                    @*        asp-route-bookId="@item.Id" class="btn btn-danger">آپدیت</a> *@
                    @* </td> *@
                    @* <td> *@
                    @*     <a asp-action="DeleteBook" asp-controller="Book" *@
                    @*        asp-route-bookId="@item.Id" class="btn btn-danger">حذف</a> *@
                    @* </td> *@
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                @* <td colspan="2"> *@
                @*     <a class="btn btn-success btn-lg" asp-action="CreateBook" asp-controller="Book">ایجاد کتاب جدید</a> *@
                @* </td> *@
                <td colspan="2">
                    <a class="btn btn-success btn-lg" asp-action="Index" asp-controller="Admin">برگشت به صفحه قبل</a>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="col-md-3"></div>
</div>
